.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000c9;
}

.logo {
    margin-left: 50px;
    height: 60px;
    padding-bottom: 4px;
}

.nav-links {
    display: flex;
    gap: 8rem;
    margin-left: 30%;
    margin-right: auto;
}

.nav-links a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: aqua;
}
.login {
    margin-left: auto; /* Pushes the login link to the rightmost corner */
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s;

}



