.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.dark-mode {
  background-color: #ffeb3b; /* Yellow background color for dark mode */
  color: #fff; /* White text color for dark mode */
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.logo {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 60px;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  white-space: nowrap;
  color: inherit; /* Ensure links inherit color from the parent */
}

.nav-link .nav-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.nav-link:hover .nav-text {
  opacity: 1;
  visibility: visible;
}

.nav-link .nav-icon {
  font-size: 1.8rem;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.nav-link:hover .nav-icon {
  opacity: 0;
}

/* Hover effect for light mode */
.light-mode .nav-link:hover {
  color: #000; /* Black color for light mode hover */
}

/* Hover effect for dark mode */
.dark-mode .nav-link:hover {
  color: #fbff14; /* Yellow color for dark mode hover */
}

.login {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  color: inherit; /* Ensure login link inherits color from the parent */
}

.login:hover {
  color: #fbff00;
}

.toggle-login-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.toggle-button.light-mode .toggle-icon {
  color: #000; /* Black color for light mode */
}

.toggle-button.dark-mode .toggle-icon {
  color: #fff; /* White color for dark mode */
}

.toggle-icon {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar {
    flex-direction: column;
  }

  .toggle-login-container {
    margin-top: 10px;
  }
}
